.CartItem {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.CartItem div {
  width: 25%;
}

.CartItem button {
  width: 30px;
  height: 30px;
  background-color: #e6e6e6;
  border-radius: 6px;
  margin: 0 16px;
  border: none;
}

.CartItem button:disabled {
  background-color: #f8f9fa;
}

.Cart-Item-Total {
  display: flex;
  justify-content: end;
}
